
.sidenav,
.sidecontent {
  padding-bottom:20px;
}
.sidenav ul, .widget_categories ul {
  list-style:none;
  padding:0;
  margin:0;
  background-color:#fafafa;
  margin-top: 10px;
}

.sidenav ul li.on a, .widget_categories ul li.on a {
  border-left: .25rem solid #ad1f65;
}

.sidenav ul li.on a:hover, .widget_categories ul li.on a:hover  {
  background-color: #ededed;
  border-left: .25rem solid #ad1f65;
}

.sidenav ul li a, .widget_categories ul li a {
  color:#333;
  display:block;
  padding:10px 15px 10px 12px;
  border-left: .25rem solid #e3e2e2;
  text-decoration: none;
  font-weight: normal;
}
.sidenav ul li a:hover,  .widget_categories ul li a:hover {
  background-color:#ededed;
  text-decoration:none;
  border-left: .25rem solid #FFD100;
}
.sidenav ul li a.linkout{
  background:url('/webRoot/SHARE/Images/Icons/link.png')no-repeat 95% !important;;
}

.sidenav ul li a.linkout:hover{
  background:#999 url('/webRoot/SHARE/Images/Icons/linklight.png')no-repeat 95% !important;;
}

.sidenav .dropdown-submenu > a:after {
  margin-right:0px;
}
.sidenav .dropdown-submenu:hover > a:after {
  border-left-color: #666;
}
.sidenav .dropdown-menu {
  margin:0px;
  border:0px;
}
.sidenav li.secondary a {
  padding-left:35px;
  background-color:#ededed;
}

.sidecontent.news h3 {
  margin-top:0px;
}
.sidecontent.news ul {
  list-style-type: square;
  padding-left:15px;
  margin:0px;
}
.sidecontent.news ul li {
  padding-bottom: 15px;
}
.sidecontent.news ul li a {
  color:#333;
  line-height:14px;
  font-size:12px;
}
.widget-area {
  margin-top: 2rem;
}

.form-submit {
  border-color: #ddd;
  color: #555;
  background-color: #fff;
  text-transform: uppercase;
  -webkit-appearance: button;
}

  .form-submit:hover{
  background-color: #d3d3d3;
  cursor: pointer;

}

.wp-caption.alignright {
    margin: 7px 0 7px 14px;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.wp-caption-text {
  background-color: #fcfcfc;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-bottom: .25rem solid #FFD100;
  padding: 7px;
  font-size: .85rem;
  font-style: italic;
}

.blog-meta {
    border-left: .5rem solid #ffd100;
    padding: 10px;
    background-color: #fafafa;
    margin-top: 20px;
}

/* WP nav styling */


.navbar-nav li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem 0;
    margin: 0 .75rem;
    color: #000;
}

  .navbar-nav li:hover {
    border-top: .25rem solid #ffd100;
    padding-top: .75rem;
    color: #000;
  }

@media (max-width:992px){
  .navbar-nav li {
    display: list-item;
  }
}

/* responsive youtube video embeds */
.video-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed, .video-container video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


